/* -----------------------------------------------------------
   WIDGET-SPECIFIC / BROWSER-SPECIFIC RULES
----------------------------------------------------------- */

.html-widget {
  margin: auto;
}

iframe {
  margin: 0rem !important;
}

.plot-card {
  display: table-row-group;
}

/* Placeholder styling */
::placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

/* Tabbed pane tweak */
.tabbed-pane {
  padding-top: 0px;
}

/* Dropdown button  */
#dropdownMenuButton {
  font-weight: bold;
}

/* Figure button tweak */
figure>div>button {
  float: left;
  margin-left: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}